main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

header{
  text-align: center;
  color: #FFA500;
  font-size: 20px;
  margin-top: 40px;
}

header img {
  width: 80px;
}

main div.conteudo_busca {
  display: flex;
  flex-direction: column;
  height: 51px;
  margin-inline-start: 1.3em;
  gap: 6px;
  margin-top: 0px;
}

main input.origem {
  border-left: none;
  border-right: none;
  border-top: none;
  width: 219px;
  border-color: #d9d9d9;
}

main input.destino {
  border-left: none;
  border-right: none;
  border-top: none;
  width: 219px;
  border-color: #d9d9d9;
}

main div.origem_image {
  margin-top: -49px;
  margin-left: 0px;
}

main div img.origem_image {
  width: 15px;
}

main div img.destino_image {
  width: 15px;

}

main div.destino_image {
  margin-top: 4px;
  margin-left: -2px;
}

main div.indicacao_image {
  margin-top: -39px;
  margin-left: 252px;
}

main div img.indicacao_image {
  width: 30px;

}

main div.content_legenda {
  display: flex;
  flex-direction: row;
  color: #6e6e6e;
  font-family: 'Itim', cursive;
  font-size: 13px;
  gap: 13px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

img.content_legenda {
  width: 15px;
}

main div.content_loupe {
  display: flex;
  flex-direction: row;
  color: #6e6e6e;
  font-family: 'Itim', cursive;
  font-size: 13px;
  gap: 2px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  margin-left: 100px;
  margin-top: 17px;
}

img.content_loupe {
  width: 18px;
}

main div.content_time_date {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  margin-left: 40px;
}

main input.relogio {
  border-left: none;
  border-right: none;
  border-top: none;
  width: 40px;
  border-color: #d9d9d9;
}

main div.arrow {
  margin-top: -2px;
}

main input.calendario {
  border-left: none;
  border-right: none;
  border-top: none;
  width: 60px;
  border-color: #d9d9d9;
}

main div.cc {
  display: flex;
  margin-left: 30px;
  gap: 5px;
}

img.content_nome {
  width: 15px;
  height: 15px;
}

img.foto {
  width: 50px;
}


img.valor1 {
  margin-left: 31px;
  width: 16px;
}

