
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;  
    padding-bottom: 80px;    
    min-height: 100vh;
}
main header {
    text-align: center;
    color: #FFA500;
    font-size: 30px
}

h3 {
    letter-spacing: -1.5px;
   
}


.content_valor {
    display: flex;
    align-items: center;
    gap: 20px;
    
}


.texto_valor {
    color: #6e6e6e;
    font-family: 'Itim',cursive;
    font-size: 26px;
    width: 102px;
    border: none;
    font-weight: 400;
    letter-spacing: -2.61px;

}

.nome_condutor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.texto_nome_condutor {
    color: #6e6e6e;
    font-family: 'Itim',cursive;
    font-size: 26px;
    width: 175px;
    border: none;
    font-weight: 400;
    letter-spacing: -2.61px;

}

.content_info {
    color: #6e6e6e;
    font-family: 'Itim',cursive;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.79px;
    
    
}

.car {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 14px;
    margin-left: -44px;
}

.pet {
    
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 11px;
    margin-left: -35px;

}

.bag {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 7px;
    margin-left: -87px;

}