main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    min-height: 100vh;
}
main header {
    text-align: center;
    color: #FFA500;
    font-size: 24px
}

main div textarea {
    border-color: #FFA500;
    padding: 40px;
    text-align: start;
    border-radius: 4px;
}



main div.conteudo_busca {
    display: flex;
    flex-direction: column;
    height: 51px;
    margin-inline-start: 1.3em;
    gap: 6px;
}
main input.origem {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 219px;
    border-color: #d9d9d9;
}
main input.destino {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 219px;
    border-color: #d9d9d9;
}
main div.origem_image {
    margin-top: -49px;
    margin-left: 0px;
}
main div.destino_image {
    margin-top: 4px;
    margin-left: -2px;
}
main div.indicacao_image {
    margin-top: -47px;
    margin-left: 252px;
}

.content_legenda {
    display: flex;
    flex-direction: row;

    color: #6e6e6e;
    font-family: 'Itim', cursive;
    font-size: 13px;
    gap: 13px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}




