
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;  
    padding-bottom: 119px;    
    min-height: 60vh;
}

 header {
    text-align: center;
    color: #FFA500;
    font-size: 25px;
    margin-top: 40px;
}

header img {
    width: 80px;
}

img.image {
    width: 60px;
}

img.image1 {
    width: 50px;
}

main div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 40px;
    padding-left: 28px;
    padding-right: 28px;
    gap: 10px;
}

main div.content div.contentInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;   
}

main button.redefinir {
     margin-bottom: 40px;
}

 main div.opcoes {
    text-align: center;
    color: #6e6e6e;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Itim', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: -42px;
}

main div .oferecer:hover .pedir:hover .procurar:hover {
    color: #FFA500;;
}

main span {
    display: block;
}
